*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

a{
  text-decoration: none;
  color: white;
}

.error{
  margin-left: 7.5%;
  color: rgb(255, 132, 132);
  font-size: 0.8rem;
}

.success{
  margin-left: 7.5%;
  color: rgb(132, 255, 153);
  font-size: 0.8rem;
}